<web-app>
<servlet>
<servlet-name>RG</servlet-name>
<servlet-class>RegistrationP</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RG</servlet-name>
<url-pattern>/RegistrationP</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LO</servlet-name>
<servlet-class>LoginP</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LO</servlet-name>
<url-pattern>/LoginP</url-pattern>
</servlet-mapping>
</web-app>